<RenewCollabWeb.RenewComponents.app_header flash={@flash} blank={true} />

<h2 style="text-align: center; margin-top: 3em;">Login</h2>

<%= unless @accounts_initialized  do %>
  <p style="color: #a00; text-align: center;">
    No accounts have been created yet. Please fully install the system.
  </p>
<% end %>

<div style="display: grid; justify-content: center;" class="rnw-form">
  <.login_form changeset={@changeset} action={~p"/login"} />
</div>

<div style="display: grid; justify-content: center; text-align: center; margin: 1em;">
  <p>
    No account yet? Go <a style="color: #23875d" href={~p"/signup"}>Sign up</a>
  </p>
  <p>
    Forgot password? <.link style="color: #23875d" href={~p"/account/reset"}>Reset Account</.link>
  </p>
</div>
