<RenewCollabWeb.RenewComponents.app_header blank={true} />

<h2 style="text-align: center;">Login</h2>

<%= unless @accounts_initialized  do %>
  <p style="color: #a00; text-align: center;">
    No accounts have been created yet. Please fully install the system.
  </p>
<% end %>

<div style="display: grid; justify-content: center;" class="rnw-form">
  <.login_form changeset={@changeset} action={~p"/login"} />
</div>
