<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:old_password]} type="password" label="Old Password" />
  <.input field={f[:new_password]} type="password" label="New Password" />
  <.input field={f[:confirm_password]} type="password" label="Confirm new Password" />
  <:actions>
    <.button>Change</.button>
  </:actions>
</.simple_form>
