<.simple_form for={%{}} action={@action}>
  <:actions>
    <.button style="cursor: pointer; padding: 1ex; border: none; background: #a33; color: #fff">
      Delete
    </.button>
  </:actions>
</.simple_form>
