<RenewCollabWeb.RenewComponents.app_header flash={@flash} blank={true} logout={true} />
<div style="text-align: center; margin-top: 1em;">
  <a href={~p"/"}>Back</a>
  <h2 style="text-align: center; display: flex; gap: 1ex; align-items: center; justify-content: center;">
    <img class="icon" src="/assets/icon-system.svg" /> System
  </h2>
</div>
<div style="display: grid; grid-template-columns: auto; justify-content: center; gap: 1ex">
  <fieldset>
    <legend>Reset</legend>

    <p>
      Clear all Documents and reset database content.
    </p>
    <form action={~p"/system/reset"} method="post">
      <input type="hidden" name="_csrf_token" value={Phoenix.Controller.get_csrf_token()} />
      <button
        type="submit"
        style="cursor: pointer; padding: 1ex; border: none; background: #333; color: #fff"
      >
        Re-install
      </button>
    </form>
  </fieldset>
</div>
