<RenewCollabWeb.RenewComponents.app_header flash={@flash} blank={true} logout={true} />
<h2 style="text-align: center;">System</h2>

<div style="display: grid; grid-template-columns: auto; justify-content: center; gap: 1ex">
  <fieldset>
    <legend>Reset</legend>

    <p>
      Clear all Documents and reset database content.
    </p>
    <form action={~p"/system/reset"} method="post">
      <input type="hidden" name="_csrf_token" value={Phoenix.Controller.get_csrf_token()} />
      <button
        type="submit"
        style="cursor: pointer; padding: 1ex; border: none; background: #333; color: #fff"
      >
        Re-install
      </button>
    </form>
  </fieldset>
</div>
