package de.renew.usecasecomponents.templates.${smallAppName}.ontology;

public class ${appName}Ontology {
    public static void registerClasses() {
        ${appName}OntologyOntology.registerClasses();
    }
}
