<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<ProjectList xmlns="http://tempuri.org/XMLSchema.xsd">
    <Project ProjectName="${smallAppName}" open="true">
        <ProjectFiles>./RolesDependencies.mad</ProjectFiles>
        <ProjectFiles>./${appName}.mas</ProjectFiles>
    </Project>
</ProjectList>

