11 
    de.renew.gui.CPNDrawing 11 
        CH.ifa.draw.figures.RoundRectangleFigure "attributes" "attributes" 2 "FillColor" "Color" 245 247 198 255 "FigureWithID" "Int" 3317 29 337 917 204 8 8  
        CH.ifa.draw.figures.RoundRectangleFigure "attributes" "attributes" 3 "FigureWithID" "Int" 3319 "ArcScale" "Boolean" "FALSE" "FillColor" "Color" 245 247 198 255 28 79 461 43 6 13  
        CH.ifa.draw.figures.RoundRectangleFigure "attributes" "attributes" 2 "FillColor" "Color" 245 247 198 255 "FigureWithID" "Int" 3320 28 140 621 157 8 8  
        CH.ifa.draw.figures.TextFigure "attributes" "attributes" 4 "FigureWithID" "Int" 3321 "FrameColor" "Color" 255 199 158 255 "TextAlignment" "Int" 0 "FillColor" "Color" 255 199 158 255 40 152 "2. Setup Environment" "SansSerif" 1 17 0 NULL NULL  
        CH.ifa.draw.figures.TextFigure "attributes" "attributes" 4 "FigureWithID" "Int" 3322 "FrameColor" "Color" 255 199 158 255 "TextAlignment" "Int" 0 "FillColor" "Color" 255 199 158 255 40 345 "3. Setup Agents" "SansSerif" 1 17 0 NULL NULL  
        CH.ifa.draw.figures.TextFigure "attributes" "attributes" 4 "FigureWithID" "Int" 3323 "FrameColor" "Color" 255 199 158 255 "TextAlignment" "Int" 0 "FillColor" "Color" 255 199 158 255 38 89 "1. --" "SansSerif" 1 17 0 NULL NULL  
        CH.ifa.draw.figures.TextFigure "attributes" "attributes" 4 "FigureWithID" "Int" 3324 "FrameColor" "Color" 255 199 158 255 "TextAlignment" "Int" 0 "FillColor" "Color" 255 199 158 255 52 14 "Howto Start a Platform with Protocol nets" "SansSerif" 0 36 0 NULL NULL  
        CH.ifa.draw.figures.TextFigure "attributes" "attributes" 4 "FigureWithID" "Int" 3325 "FrameColor" "Color" 255 199 158 255 "TextAlignment" "Int" 0 "FillColor" "Color" 255 199 158 255 522 63 "Protocol nets and agents will be startet automaically." "SansSerif" 0 17 0 NULL NULL  
        CH.ifa.draw.figures.TextFigure "attributes" "attributes" 4 "FigureWithID" "Int" 3326 "FrameColor" "Color" 255 199 158 255 "TextAlignment" "Int" 0 "FillColor" "Color" 255 199 158 255 39 178 "Start a Capa Platform with >>Plugins>>Start Capa Platform" "SansSerif" 0 17 0 NULL NULL  
        CH.ifa.draw.figures.TextFigure "attributes" "attributes" 4 "FigureWithID" "Int" 3327 "FrameColor" "Color" 255 199 158 255 "TextAlignment" "Int" 0 "FillColor" "Color" 255 199 158 255 82 387 "Start a Capa Agent with  >>Plugins>>Capa Platform>>'name'>>Launch net agent" "SansSerif" 0 17 0 NULL NULL  
        CH.ifa.draw.figures.TextFigure "attributes" "attributes" 4 "FigureWithID" "Int" 3330 "FrameColor" "Color" 255 199 158 255 "TextAlignment" "Int" 0 "FillColor" "Color" 255 199 158 255 85 424 "- choose an agent name\n- choose a knowledge base (extension kb or wis)\n- set the right knowledge base net file name: \n > kb: wissensbasis_kbe\n > wis: wissensbasis" "SansSerif" 0 17 0 NULL NULL  NULL  118 80 1088 666 