<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    <span style=" color: #a00; ">Oops, something went wrong! Please check the errors below.</span>
  </.error>
  <.input field={f[:email]} required type="text" label="E-mail" readonly />
  <.input
    field={f[:new_password]}
    required
    type="password"
    label="Password"
    autocomplete="new-password"
  />
  <.input
    field={f[:new_password_confirmation]}
    required
    type="password"
    label="Confirm Password"
    autocomplete="new-password"
  />
  <:actions><.button>Confirm Sign up!</.button></:actions>
</.simple_form>
