<RenewCollabWeb.RenewComponents.app_header flash={@flash} blank={true} />
<h2 style="text-align: center; margin-top: 3em;">Confirm Sign up</h2>
<div style="margin: auto; width: max-content;">
  <p>
    An E-mail with a confirmation code has been sent to your E-mail.
  </p>
  <p>
    Please click the confirmation link in the E-mail to finish you registration.
  </p>
</div>

<div style="display: grid; justify-content: center; text-align: center; margin: 2em;">
  <p>
    Do you already have an account? Go <a style="color: #23875d" href={~p"/login"}>Login</a>
  </p>
</div>
