<svg
  xmlns="http://www.w3.org/2000/svg"
  width="200"
  height="200"
  viewBox={RenewCollab.ViewBox.into_string(@viewbox)}
>
  <%= with %RenewCollab.Document.Document{layers: layers} <- @document do %>
    <%= for layer <- layers, is_nil(layer.direct_parent_hood) do %>
      <.layer layer={layer} document={@document} />
    <% end %>
  <% end %>
</svg>
