<h2>Renew Web Editor</h2>
<.link navigate={~p"/documents"}>Documents</.link> <.link navigate={~p"/health"}>Health</.link>
<.link navigate={~p"/accounts"}>Accounts</.link> <hr />
<.link href={~p"/logout"} method="delete">Log out</.link>
