<.simple_form :let={f} method="post" for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    <span style=" color: #a00; ">
      Oops, something went wrong! Please check the errors below.
    </span>
  </.error>
  <.input
    field={f[:new_password]}
    required
    type="password"
    label="New Password"
    autocomplete="new-password"
  />
  <.input
    field={f[:new_password_confirmation]}
    required
    type="password"
    label="Confirm Password"
    autocomplete="new-password"
  />

  <:actions>
    <.button>Reset password</.button>
  </:actions>
</.simple_form>
